Django==1.4
amqplib==1.0.2
anyjson==0.3.1
celery==2.5.3
distribute==0.6.27
dj-database-url==0.2.0
django-celery==2.5.5
django-kombu==0.9.4
django-picklefield==0.2.1
django-storages==1.1.4
gevent==0.13.7
greenlet==0.3.4
gunicorn==0.14.3
kombu==2.1.8
meld3==0.6.8
psycopg2==2.4.5
python-dateutil==1.5
supervisor==3.0a12
