{% extends 'layout.html' %}

{% block content %}
<div class="hero-unit">
  <img id="moneybags" src="{{ STATIC_URL }}img/money.png" class="pull-right" alt="Money" />
  <h1>Antitrust Squad</h1>
  <p>We make shit for you to blow up</p>
  <p>
    <a class="btn btn-primary btn-large" href="https://wiki.pleaseignore.com/wiki/Antitrust_Squad">
      More Info
    </a>
    <a class="btn btn-primary btn-large" href="https://auth.pleaseignore.com/groups/request/50/">
      Join Us
    </a>
  </p>
</div>
{% endblock %}
