<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Antitrust{% endblock %}</title>
    <link href="{{ STATIC_URL }}favicon.png" rel="icon" type="image/png">
    <link href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap{% if debug %}.min{% endif %}.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.switch.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/antitrust.css" />
  </head>
  <body class="{% if request.META.HTTP_EVE_TRUSTED %}igb{% endif %}">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Antitrust</a>
          <ul class="nav">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li><a href="/pi/">PI</a></li>
          </ul>
          <div class="trust-switch">
            <span class="trust-label">Trust:</span>
            <div class="switch" data-toggle="switch" data-checkbox="trust-switch-checkbox"></div>​
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery{% if debug %}.min{% endif %}.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.switch.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/antitrust.js"></script>
    <script type="text/javascript">
    window.antitrust = {
      base_uri: 'http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}',
      trusted: {% if request.META.HTTP_EVE_TRUSTED == 'Yes' %}true{% else %}false{% endif %}
    };
    </script>
  </body>
</html>
