<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Antitrust{% endblock %}</title>
    {% if debug %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    {% endif %}
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Antitrust</a>
          <ul class="nav">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li><a href="/pi/">PI</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
