.navbar .container { position: relative; width: 940px; }
.trust-switch {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -14px;
}
body.igb .trust-switch { display: block; }
.trust-label {
  line-height: 28px;
  font-size: 24px;
  vertical-align: top;
}

#moneybags {
  width: 200px;
  height: 151px;
}

table.invoice .total-label { font-weight: bold; }
