.navbar .container { position: relative; width: 940px; }

.trust-switch {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -14px;
}

.trust-label {
  line-height: 28px;
  font-size: 24px;
  vertical-align: top;
}

#moneybags {
  width: 200px;
  height: 151px;
}

table.invoice .total-label { font-weight: bold; }

.igb-show { display: none; }
body.igb .igb-show { display: block; }

body.igb .igb-hide { display: none; }
